.album-container{
    width: 100%;
    background: #ffffff;
}

.album-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
    margin-top: 140px;
}

.album-item_alb{
    width: 384px;
    height: 422px;
    padding: 20px;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    &:nth-child(1){
        background: url(../../img/album1.png);
    };
    &:nth-child(2){
        background: url(../../img/album2.png);
    };
    &:nth-child(3){
        background: url(../../img/album3.png);
    };
    &:nth-child(4){
        background: url(../../img/album4.png);
    };
    &:nth-child(5){
        background: url(../../img/album5.png);
    };
    &:nth-child(6){
        background: url(../../img/album6.png);
    };
}


/*<<<----Стили для планшета и смартфона---->>>*/
@media (max-width: 1537px){

    .album-container{
        padding-left: 2%;
        padding-right: 2%;
    }

    .album-list{
        justify-content: space-around;
    }

    .album-item_alb{
        width: 370px;
        margin-left: 10px;
        margin-right: 10px;
    }
}


/*<<<<----Стили для смартфона---->>>>*/
@media (max-width: 749px) {

  .album-item_alb{
    margin-left: 0;
    margin-right: 0;
  }
}