.greeting_title-disco{
  color: #986951;
}

.greeting_description-disco{
  width: 580px;
  margin: 0 auto;
}

.disco-list{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.discography_container{
  width: 1260px;
  margin: 0 auto;
}

.disco-item{
  display: flex;
  margin-bottom: 100px;
}

.disco-item_left-column{
  width: 505px;
  margin-right: 20px;
  padding-top: 40px;
}

.disco-item_right-column{
  width: 710px;
}

.album-age{
  color: #606060;
  font-family: "Open Sans Bold", sans-serif;
  font-size: 14px;
}

.album-line{
  background: black;
  border: none;
  height: 2px;
}

.album-name{
  text-transform: uppercase;
  font-family: "Open Sans Bold", sans-serif;
  font-size: 14px;
}

.album_title{
  font-family: "Open Sans Regular", sans-serif;
  font-size: 23px;
  font-weight: normal;
}

.album_description{
  font-family: "Open Sans" ,sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #798285;
}

.album-btn{
  cursor: pointer;
  width: 196px;
  height: 56px;
  border: none;
  color: white;
  font-family: Open Sans Bold, sans-serif;
  font-size: 14px;
}

.album-btn1{
  background: url("../../img/play.png");
}

.album-btn2{
  background: url("../../img/play2.png");
}

.album-btn3{
  background: url("../../img/play3.png");
}




/*<<<----разрешение для планшета---->>>*/
@media (min-width: 750px) and (max-width: 1537px){

  .discography{
    padding-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .discography_container{
    margin: 0 auto;
  }

  .disco-item{
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
  }

  .disco-item:first-child{
    margin-top: 0;
  }
}