@font-face {
  font-family: "Dosis-Regular";
  src: url("../../fonts/dosis/Dosis-Regular.otf");
}

@font-face {
  font-family: "Dosis";
  src: url("../../fonts/dosis/Dosis-Regular.otf");
}

@font-face {
  font-family: "Dosis";
  src: url("../../fonts/dosis/Dosis-Regular.otf");
}

@font-face {
  font-family: "Dosis";
  src: url("../../fonts/dosis/Dosis-Regular.otf");
}