$main-font: Dosis-Regular, Arial, sans-serif; /*основной шрифт*/

@mixin title {  /*большие заголовки*/
  font-family: $main-font;
  font-size: 50px;
  font-weight: normal;
  // text-decoration: line-through;
}

@mixin descr { /*обзацы под большими заголовками*/
  font-family: "Open Sans" ,sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #798285;
}

*{
  box-sizing: border-box;
  transition: all ease 600ms;
}

/*обнуление отступов у списков*/
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*стили блока заголовков*/
.greeting{
  margin: 0 auto;
  width: 900px;
  text-align: center;
}

/*стили заголовков*/
.greeting_title{
  @include title;
}

/*стили абзацов заголовка*/
.greeting_description{
  @include descr;
}


/*класс появления объектов для js*/
.visual{
  display: block;
  visibility: visible;
  opacity: 1;
}

.hidden{
  visibility: hidden;
}

/*анимация кнопки меню*/
.btnUpDown{
  top: 300px;
  transform: rotate(180deg);
}

/*<<<----Стили для планшета и смартфона---->>>*/
@media (max-width: 1537px){

  *{
    max-width: 100%;
  }

  main{
    overflow: hidden;
  }
}

/*<<<----Стили для смартфона---->>>*/
@media (max-width: 749px) {

  .discography{
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .concert-tours,
  .latter-compositions,
  .slider-item,
  .events-container,
  .history,
  .contact{
    padding-left: 5%;
    padding-right: 5%;
  }
}