$main-font: Dosis-Regular, Arial, sans-serif; /*основной шрифт*/

@mixin title {  /*большие заголовки*/
  font-family: $main-font;
  font-size: 50px;
  font-weight: normal;
  text-decoration: line-through;
}

@mixin descr {
  font-family: "Open Sans" ,sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #798285;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*стили блока заголовков*/
.greeting{
  margin: 0 auto;
  width: 900px;
  text-align: center;
}

/*стили заголовков*/
.greeting_title{
  @include title;
}

/*стили абзацов заголовка*/
.greeting_description{
  @include descr;
}