@import 'global';

.history{
    width: 100%;
    padding-top: 150px;
    background: #ffffff url(../../img/historyBack.png) bottom no-repeat;
}

.greeting_descr-history{
    width: 640px;
    margin: 0 auto;
}

.history_list{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 100px;
    padding-bottom: 600px;
}

.history_item{
    position: relative;
    width: 300px;
    text-align: center;
    font-family: Dosis, sans-serif;
    color: #575a59;
    &>h3{
        cursor: pointer;
        max-width: 120px;
        margin: 0 auto;
        font-weight: normal;
        font-size: 35px;
        padding: 0;
    }
}

.history_story{
    transition: all ease 1100ms;
    visibility: hidden;
    margin: 10px;
    opacity: 0;
    @include descr;
}




/*<<<----Стили для планшета и смартфона---->>>*/
@media (max-width: 1537px){
    .history_list{
        width: 330px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .history_item{
        margin: 0 auto;
        margin-top: 70px;
    }
}