@import 'global';

.slider{
    background: url(../../img/slider.png);
    margin-top: 150px;
    padding-top: 140px;
    padding-bottom: 170px;
    position: relative;
    min-height: 550px;
    overflow: hidden;
}

.slider_arrow-left,
.slider_arrow-right{
    top: calc(50% - 90px);
    cursor: pointer;
    position: absolute;
    z-index: 2;
}

.slider_arrow-right{
    display: none;
    right: 0;
    &:hover{
        right: 5px;
    }
}

.slider_arrow-left{
    transform: scale(-1, 1);
    left: 0;
    &:hover{
        left: 5px;
    }
}

.slider-container{
    position: absolute;
    width: 300%;
    overflow: hidden;
    display: flex;
    left: 0;
    max-width: none !important;
}

.slider-item{
    margin: 0 auto;
    text-align: center;
}

.slider_logo{
    margin-bottom: 40px;
}

.slider_title{
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    color: #ffffff;
    font-family: $main-font;
    text-transform: uppercase;
}

.slider-description,
.slider-rules{
    @include descr;
    max-width: 515px;
    margin: 0 auto;
}

.slider-description{
    margin-bottom: 60px;
}

/*<<<----Стили для смартфона---->>>*/
@media (max-width: 749px){

  .slider_arrow-left,
  .slider_arrow-right{
    display: none;
  }
}